@charset "UTF-8";
/* line 24, ../sass/common.sass */
.uppercase, .small-header, .ll .form-header h1, .ll .form-header h2, .ll .form-header p {
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* line 28, ../sass/common.sass */
.small-header {
  font-size: 18px;
}

/* line 33, ../sass/common.sass */
body {
  font-family: Lato, Arial, sans-serif;
  background: white;
  color: #444;
  font-size: 14px;
  font-weight: lighter;
}

/* line 40, ../sass/common.sass */
p, ul, li {
  color: #666;
  line-height: 1.75em;
}

/* line 44, ../sass/common.sass */
blockquote {
  font-style: italic;
  color: #8f8f8f;
}

/* line 48, ../sass/common.sass */
img {
  max-width: 100%;
}

/* line 51, ../sass/common.sass */
li {
  line-height: 1.75em;
}

/* line 54, ../sass/common.sass */
a {
  color: #2faadf;
  cursor: pointer;
}
/* line 57, ../sass/common.sass */
a:hover {
  color: #1d8dbe;
  text-decoration: none;
}

/* line 61, ../sass/common.sass */
h1 {
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 10px;
}

/* line 66, ../sass/common.sass */
h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}

/* line 71, ../sass/common.sass */
h3 {
  font-weight: 600;
  font-size: 21px;
  margin-bottom: 10px;
}

/* line 76, ../sass/common.sass */
h4 {
  font-weight: normal;
  font-size: 16px;
}

/* line 80, ../sass/common.sass */
select, input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px 10px;
  box-sizing: border-box;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 16px;
}

/* line 88, ../sass/common.sass */
.left {
  float: left;
}

/* line 91, ../sass/common.sass */
.container {
  width: 100%;
  max-width: 100%;
  padding: 0 15px;
}

/* line 96, ../sass/common.sass */
.container > div {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 101, ../sass/common.sass */
.content > div {
  margin-bottom: 40px;
  clear: both;
}
/* line 104, ../sass/common.sass */
.content > div:after {
  content: "";
  clear: both;
  display: block;
}

/* line 109, ../sass/common.sass */
select:-moz-focusring {
  outline: none;
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/* line 114, ../sass/common.sass */
.disclaimer {
  font-size: 13px;
  font-style: italic;
}

/* line 120, ../sass/common.sass */
.header {
  background: #000;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  overflow: hidden;
}
/* line 127, ../sass/common.sass */
.header .header-brand a {
  background-image: url("../images/searchmynewjob-logo.png");
  background-repeat: no-repeat;
  display: block;
  float: left;
  margin: auto;
  width: 235px;
  height: 33px;
  text-indent: -999px;
  margin-right: 10px;
  background-size: 235px;
}
/* line 138, ../sass/common.sass */
.header .search-icon {
  float: right;
}
/* line 140, ../sass/common.sass */
.header .search-icon .material-icons {
  font-size: 30px;
}
/* line 142, ../sass/common.sass */
.header p {
  color: #2faadf;
}
/* line 144, ../sass/common.sass */
.header a {
  color: white;
}
/* line 146, ../sass/common.sass */
.header a:hover {
  color: white;
}
/* line 148, ../sass/common.sass */
.header .rules {
  padding-top: 20px;
}
/* line 150, ../sass/common.sass */
.header #mark {
  max-width: 500px;
  float: left;
  overflow: hidden;
  padding-top: 20px;
}
/* line 155, ../sass/common.sass */
.header #mark marquee {
  float: left;
  width: 300px;
}
/* line 158, ../sass/common.sass */
.header #mark li {
  color: white;
  list-style: none;
  margin-right: 10px;
  display: inline;
}
/* line 163, ../sass/common.sass */
.header #mark li b {
  color: #2faadf;
}
/* line 165, ../sass/common.sass */
.header #mark .recent {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #2faadf;
  font-weight: 600;
  display: inline;
  float: left;
  margin-right: 10px;
}

/* line 174, ../sass/common.sass */
.body {
  background: #e2e9eb;
  border-bottom: 1px solid #ccc;
  padding-bottom: 50px;
}
/* line 178, ../sass/common.sass */
.body h2 {
  margin-top: 60px;
  color: #333;
  font-size: 21px;
  font-weight: normal;
}
/* line 183, ../sass/common.sass */
.body h2 .material-icons {
  color: #9ea3a4;
  font-size: 18px;
}
/* line 186, ../sass/common.sass */
.body ul {
  padding-left: 5px;
  list-style: none;
}
/* line 189, ../sass/common.sass */
.body ul li::before {
  content: "• ";
  color: #2faadf;
  font-weight: 800;
  font-size: 28px;
  position: relative;
  top: 4px;
}

/* line 197, ../sass/common.sass */
.card {
  background: white;
  border-radius: 5px;
  padding: 20px 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
  text-align: center;
  margin-bottom: 10px;
  position: relative;
  transition: all 0.2s;
}
/* line 206, ../sass/common.sass */
.card .logo {
  width: 90px;
  margin-bottom: 5px;
  margin-top: 5px;
}
/* line 210, ../sass/common.sass */
.card .md-48 {
  font-size: 48px;
  margin-bottom: 5px;
}
/* line 213, ../sass/common.sass */
.card a:hover {
  text-decoration: none !important;
}
/* line 215, ../sass/common.sass */
.card:hover {
  position: relative;
  top: 1px;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 222, ../sass/common.sass */
.job-list {
  border-right: 1px solid #ddd;
  height: 100%;
  max-height: 699px;
  overflow-y: scroll;
}
/* line 227, ../sass/common.sass */
.job-list .job-result {
  padding-bottom: 15px;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}
/* line 231, ../sass/common.sass */
.job-list .job-result:nth-child(odd) {
  background: #f0f4f5;
}

/* line 234, ../sass/common.sass */
.new-job {
  position: absolute;
  top: -8px;
  left: -5px;
  background: #2faadf;
  padding: 3px 10px 3px 10px;
  font-size: 10px;
  color: white;
  border-radius: 3px 0 0 0;
}
/* line 243, ../sass/common.sass */
.new-job:after {
  content: "";
  position: absolute;
  display: block;
  background: #2faadf;
  width: 1.125em;
  height: 100%;
  top: 0;
  -webkit-transform-origin: bottom left;
  -moz-transform-origin: bottom left;
  transform-origin: bottom left;
  right: -0.25em;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  transform: skewX(-20deg);
  border-left: none;
}

/* line 260, ../sass/common.sass */
.job-result {
  overflow: auto;
}
/* line 262, ../sass/common.sass */
.job-result .job-company-name {
  color: #999;
  font-size: 12px;
  display: block;
}
/* line 266, ../sass/common.sass */
.job-result .job-company-location {
  background-image: url("../images/icn-location.png");
  background-size: 10px;
  padding-left: 14px;
  text-align: left;
  display: block;
  background-position: center left;
  background-repeat: no-repeat;
  color: #999;
  font-size: 12px;
}
/* line 276, ../sass/common.sass */
.job-result .job-logo {
  float: left;
}
/* line 278, ../sass/common.sass */
.job-result .job-logo img {
  border-radius: 30px;
  border: 1px solid #ddd;
  background-image: url("../images/default.jpg");
  background-size: contain;
}
/* line 283, ../sass/common.sass */
.job-result .job-text {
  font-size: 15px;
  padding-left: 75px;
  text-align: left;
  min-height: 70px;
}
/* line 288, ../sass/common.sass */
.job-result .job-location {
  padding-top: 5px;
  margin-top: 5px;
  font-size: 12px;
  padding-right: 20px;
  border-top: 1px solid #ddd;
}
/* line 294, ../sass/common.sass */
.job-result .job-description {
  display: none;
}
/* line 296, ../sass/common.sass */
.job-result .job-desc-exception {
  display: block;
  float: right;
  line-height: 16px;
  width: calc(100% - 70px);
  width: -moz-calc(100% - 70px);
  width: -webkit-calc(100% - 70px);
}
/* line 303, ../sass/common.sass */
.job-result .subdued {
  color: #999;
}
/* line 305, ../sass/common.sass */
.job-result .mobile-job-result {
  float: right;
  display: block;
  font-size: 40px;
  color: #999;
}

/* line 311, ../sass/common.sass */
.map-row {
  padding-left: 0 !important;
  padding-right: 0 !important;
  max-height: 800px;
  border-bottom: 1px solid #bbb;
}
/* line 316, ../sass/common.sass */
.map-row > div {
  padding: 0 !important;
}
/* line 319, ../sass/common.sass */
.map-row .job-result .job-text {
  padding-right: 0;
}

/* line 322, ../sass/common.sass */
.footer {
  clear: both;
  overflow: auto;
  padding: 30px 60px;
  text-align: center;
}
/* line 327, ../sass/common.sass */
.footer .footer-logo {
  width: 235px;
}
/* line 329, ../sass/common.sass */
.footer p {
  color: #999;
  text-align: center;
}

/* line 334, ../sass/common.sass */
.formio-component-fieldset.form-div {
  position: relative;
  padding-top: 50px;
}

/* line 350, ../sass/common.sass */
.ll .panel.panel-default {
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
  padding: 0;
}
/* line 356, ../sass/common.sass */
.ll .panel.panel-default .panel-body {
  padding: 0;
}
/* line 358, ../sass/common.sass */
.ll .well.formio-component {
  background: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: none;
}
/* line 365, ../sass/common.sass */
.ll .form-header {
  text-align: center;
}
/* line 367, ../sass/common.sass */
.ll .form-header h1, .ll .form-header h2, .ll .form-header p {
  color: #2faadf;
  margin: 5px 0;
}
/* line 371, ../sass/common.sass */
.ll .form-header h1 {
  font-size: 14px;
}
/* line 373, ../sass/common.sass */
.ll .form-header h2 {
  font-size: 38px;
  font-weight: 800;
}
/* line 376, ../sass/common.sass */
.ll .form-header h4 {
  font-weight: lighter;
}
/* line 378, ../sass/common.sass */
.ll .form-header p {
  font-size: 21px;
  font-weight: 600;
}
/* line 383, ../sass/common.sass */
.ll .form-header.big-header h1 {
  font-size: 21px;
}
/* line 385, ../sass/common.sass */
.ll .form-header.big-header h2 {
  font-size: 72px;
}
/* line 389, ../sass/common.sass */
.ll .arrow {
  display: block;
  position: absolute !important;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #2faadf;
  top: 15px;
  left: 50%;
  margin-left: -15px;
  z-index: 2;
  animation: float 1.5s ease-in-out infinite;
}
/* line 400, ../sass/common.sass */
.ll .animated {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
/* line 410, ../sass/common.sass */
.ll .bounce {
  animation-name: bounce;
}
/* line 414, ../sass/common.sass */
.ll .btn, .ll .btn-primary.btn-gold, .ll div.radio span {
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  padding: 12px 30px;
  background: #2faadf;
  border-radius: 5px;
  white-space: normal;
  cursor: pointer;
  text-shadow: rgba(255, 255, 255, 0.2) 0 1px 0;
}
/* line 426, ../sass/common.sass */
.ll .btn:hover, .ll .btn-primary.btn-gold:hover, .ll div.radio span:hover {
  border: 1px solid #166d92;
  color: white;
  background: #1d8dbe;
  text-shadow: rgba(255, 255, 255, 0.6) 0 1px 0;
  top: 1px;
  position: relative;
}
/* line 433, ../sass/common.sass */
.ll .btn-primary.btn-gold {
  display: block;
  margin: auto;
}
/* line 436, ../sass/common.sass */
.ll .btn-sm {
  padding: 4px 8px;
  font-size: 16px;
  position: relative;
  top: -1px;
}
/* line 442, ../sass/common.sass */
.ll .btn-join .btn {
  left: -5px;
  border-radius: 0 5px 5px 0;
}
/* line 445, ../sass/common.sass */
.ll .btn-join .btn:hover {
  top: -1px;
}
/* line 447, ../sass/common.sass */
.ll .form-div {
  text-align: center;
  margin-bottom: 60px;
}
/* line 450, ../sass/common.sass */
.ll .form-div input[type="text"], .ll .form-div input[type="email"] {
  height: 47px;
  text-align: center;
}
/* line 453, ../sass/common.sass */
.ll .form-note {
  color: #999;
  font-style: italic;
  font-size: 12px;
  margin-top: 10px;
}
/* line 460, ../sass/common.sass */
.ll .form-div .form-control {
  width: 60%;
}
/* line 463, ../sass/common.sass */
.ll .checkbox input[type="checkbox"] {
  left: 40px;
}
/* line 466, ../sass/common.sass */
.ll .control-label div {
  text-align: left;
  font-weight: lighter;
  font-size: 12px;
  text-indent: 20px;
}
/* line 472, ../sass/common.sass */
.ll .formio-component-email {
  display: inline;
}
/* line 474, ../sass/common.sass */
.ll .formio-component-email .form-control {
  height: 47px;
}
/* line 476, ../sass/common.sass */
.ll .list-inline {
  display: none;
}

/* line 480, ../sass/common.sass */
.job-map .job-logo {
  width: 40px;
  height: 40px;
  margin-top: 6px;
}
/* line 484, ../sass/common.sass */
.job-map .job-result {
  width: 300px;
  display: block;
}
/* line 487, ../sass/common.sass */
.job-map .job-result .job-text {
  width: 170px;
  float: left;
  padding-left: 10px;
  min-height: auto;
}
/* line 492, ../sass/common.sass */
.job-map .btn-sm {
  margin-top: 10px;
}

/* line 498, ../sass/common.sass */
.form-container .ll .progress {
  height: 8px;
  margin-bottom: 20px;
}
/* line 501, ../sass/common.sass */
.form-container .ll .progress .progress-bar {
  background: #2faadf;
}
/* line 503, ../sass/common.sass */
.form-container .ll .form-group > .control-label {
  color: #2faadf;
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  display: block;
}
/* line 510, ../sass/common.sass */
.form-container .ll .form-group.formio-component-checkbox > .control-label {
  color: #666;
  font-weight: lighter;
}
/* line 513, ../sass/common.sass */
.form-container .ll .input-group {
  width: 90%;
  margin: auto;
  text-align: center;
}
/* line 517, ../sass/common.sass */
.form-container .ll div.radio {
  display: inline-block;
  position: relative;
  margin: 10px 2.5%;
  text-align: center;
  min-height: 47px;
  width: 40%;
  min-width: 224px;
}
/* line 525, ../sass/common.sass */
.form-container .ll div.radio label, .form-container .ll div.radio input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 47px;
}
/* line 531, ../sass/common.sass */
.form-container .ll div.radio span {
  display: inline-block;
  width: 100%;
  margin: 0;
}
/* line 535, ../sass/common.sass */
.form-container .ll div.radio input[type="radio"] {
  opacity: 0.01;
  z-index: 100;
}

/* line 540, ../sass/common.sass */
.header-form {
  float: right;
  margin-top: -10px;
}

/* line 543, ../sass/common.sass */
.form-banner {
  padding: 10px 60px 60px;
  text-align: center;
}

/* line 547, ../sass/common.sass */
.form-banner, .header-form {
  background: #000;
}
/* line 549, ../sass/common.sass */
.form-banner h1, .header-form h1 {
  color: white;
  font-weight: normal;
}
/* line 552, ../sass/common.sass */
.form-banner input[type="text"], .header-form input[type="text"] {
  background: #222;
  border: 1px solid #333;
  display: inline;
  margin-top: 10px;
}
/* line 557, ../sass/common.sass */
.form-banner .btn-join, .header-form .btn-join {
  display: inline;
  margin-left: 10px;
}

/* line 561, ../sass/common.sass */
.form-container {
  background: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 30px 40px;
  margin-bottom: 50px;
  text-align: center;
}

/* line 569, ../sass/common.sass */
.job-summary {
  text-align: center;
}
/* line 571, ../sass/common.sass */
.job-summary img {
  width: 12px;
  position: relative;
  top: -2px;
  margin-right: 5px;
}
/* line 576, ../sass/common.sass */
.job-summary .location {
  color: #999;
}

/* line 580, ../sass/common.sass */
.lead {
  color: #2faadf;
  text-align: center;
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
}

/* line 589, ../sass/common.sass */
#thanks-page .header {
  background: #bac0ce;
}
/* line 592, ../sass/common.sass */
#thanks-page .form-header.big-header h1 {
  color: black;
}
/* line 594, ../sass/common.sass */
#thanks-page .form-header.big-header h2 {
  color: white;
}
/* line 596, ../sass/common.sass */
#thanks-page .form-container {
  background: none;
  padding-top: 50px;
}
/* line 599, ../sass/common.sass */
#thanks-page .social-share {
  text-align: center;
  padding: 40px 0 0;
}
/* line 602, ../sass/common.sass */
#thanks-page .social-share a:hover {
  position: relative;
  top: 1px;
}
/* line 605, ../sass/common.sass */
#thanks-page .social-share img {
  margin: 0 10px 0;
}
/* line 607, ../sass/common.sass */
#thanks-page .social-share p {
  color: white;
  margin-top: 15px;
  font-size: 18px;
}

/* line 615, ../sass/common.sass */
#privacy .header {
  margin-bottom: 20px;
}
/* line 617, ../sass/common.sass */
#privacy .body {
  background: white;
}
/* line 619, ../sass/common.sass */
#privacy h1 {
  font-size: 48px;
  color: #2faadf;
  text-shadow: none;
}
/* line 623, ../sass/common.sass */
#privacy h2 {
  color: #2faadf;
  font-weight: bold;
  border-bottom: 3px solid #2faadf;
  padding-bottom: 10px;
  margin: 30px 0;
  text-align: left;
}

@media (min-width: 1200px) {
  /* line 636, ../sass/common.sass */
  .ll .form-header h1, .ll .form-header p {
    font-size: 21px;
  }
  /* line 638, ../sass/common.sass */
  .ll .form-header h2 {
    font-size: 56px;
  }
}
@media (max-width: 1200px) {
  /* line 642, ../sass/common.sass */
  .container {
    max-width: 100%;
  }

  /* line 646, ../sass/common.sass */
  .ll .form-header h1, .ll .form-header p {
    font-size: 18px;
  }
  /* line 648, ../sass/common.sass */
  .ll .form-header h2 {
    font-size: 48px;
  }
  /* line 651, ../sass/common.sass */
  .ll .form-header.big-header h1, .ll .form-header.big-header p {
    font-size: 18px;
  }
  /* line 653, ../sass/common.sass */
  .ll .form-header.big-header h2 {
    font-size: 48px;
  }
}
@media (min-width: 992px) {
  /* line 659, ../sass/common.sass */
  .body {
    padding: 30px;
  }

  /* line 661, ../sass/common.sass */
  .container > div {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 991px) {
  /* line 667, ../sass/common.sass */
  .form-banner {
    background-size: 400px;
  }

  /* line 669, ../sass/common.sass */
  .form-container {
    margin-bottom: 180px;
  }

  /* line 672, ../sass/common.sass */
  .header #mark {
    display: none;
  }

  /* line 674, ../sass/common.sass */
  .progress-container {
    text-align: center;
    padding-bottom: 10px;
  }
  /* line 677, ../sass/common.sass */
  .progress-container .progress-label {
    color: #2faadf;
  }
  /* line 679, ../sass/common.sass */
  .progress-container .progress {
    border: 1px solid #ddd;
  }
}
@media (min-width: 481px) {
  /* line 685, ../sass/common.sass */
  .form {
    padding: 40px;
  }

  /* line 688, ../sass/common.sass */
  .radioSelectContainer > label {
    display: none;
  }

  /* line 690, ../sass/common.sass */
  .extendedRadioContainer {
    display: none;
  }

  /* line 693, ../sass/common.sass */
  .radioContainer label {
    margin-right: 10px;
    font-size: 16px;
  }
  /* line 696, ../sass/common.sass */
  .radioContainer label:last-child {
    margin-right: 0;
  }
  /* line 698, ../sass/common.sass */
  .radioContainer input {
    margin-right: 3px;
  }

  /* line 702, ../sass/common.sass */
  .ll .form-div input, .ll .form-div select, .ll .form-div .btn {
    display: block;
    width: 60%;
    margin: 0 auto 15px;
  }
  /* line 707, ../sass/common.sass */
  .ll .form-div.joined-button input, .ll .form-div.joined-button .btn {
    display: inline;
    margin: 0;
  }
  /* line 710, ../sass/common.sass */
  .ll .form-div.joined-button input {
    width: 50% !important;
    border-radius: 5px 0 0 5px;
  }
  /* line 713, ../sass/common.sass */
  .ll .form-div.joined-button .btn {
    width: auto;
    border-radius: 0 5px 5px 0;
    position: relative;
    left: -5px;
    top: -2px;
  }
}
@media (max-width: 699px) {
  /* line 725, ../sass/common.sass */
  .radioSelectContainer, .radioContainer {
    position: relative;
    overflow: hidden;
  }
  /* line 729, ../sass/common.sass */
  .radioSelectContainer select, .radioContainer select {
    display: none;
  }
  /* line 731, ../sass/common.sass */
  .radioSelectContainer label, .radioSelectContainer .labelContainer, .radioContainer label, .radioContainer .labelContainer {
    display: block;
    margin: 10px 0;
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f2f2f2));
    background: -moz-linear-gradient(top, #fcfcfc, #f2f2f2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f2f2f2');
    border-radius: 4px;
    border: 2px solid #e6e6e6;
    padding: 10px;
    cursor: pointer;
  }
  /* line 742, ../sass/common.sass */
  .radioSelectContainer label:hover, .radioSelectContainer .labelContainer:hover, .radioContainer label:hover, .radioContainer .labelContainer:hover {
    background: #dbdbdb;
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#dbdbdb));
    background: -moz-linear-gradient(top, #fcfcfc, #dbdbdb);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#dbdbdb');
  }
  /* line 748, ../sass/common.sass */
  .radioSelectContainer label > span, .radioSelectContainer .labelContainer > span, .radioContainer label > span, .radioContainer .labelContainer > span {
    text-align: left;
    display: block;
    font-size: 16px;
    color: #444;
    background: url("../images/right-arrow-gray.png") no-repeat right center;
    background-size: 8px 13px;
  }
  /* line 755, ../sass/common.sass */
  .radioSelectContainer label > input, .radioSelectContainer .labelContainer > input, .radioContainer label > input, .radioContainer .labelContainer > input {
    position: absolute;
    top: -20px;
  }
  /* line 758, ../sass/common.sass */
  .radioSelectContainer label > input:checked + span, .radioSelectContainer .labelContainer > input:checked + span, .radioContainer label > input:checked + span, .radioContainer .labelContainer > input:checked + span {
    background-color: #404040;
    color: #F7F7F7;
  }
  /* line 761, ../sass/common.sass */
  .radioSelectContainer label label, .radioSelectContainer .labelContainer label, .radioContainer label label, .radioContainer .labelContainer label {
    display: none;
  }
  /* line 763, ../sass/common.sass */
  .radioSelectContainer label.active, .radioSelectContainer .labelContainer.active, .radioContainer label.active, .radioContainer .labelContainer.active {
    background: #777;
    border: 2px solid #777;
    overflow: auto;
  }
  /* line 768, ../sass/common.sass */
  .radioSelectContainer label.active > span, .radioSelectContainer .labelContainer.active > span, .radioContainer label.active > span, .radioContainer .labelContainer.active > span {
    color: white;
    margin-bottom: 10px;
    background: url("../images/down-arrow-gray.png") no-repeat right center;
    background-size: 13px 8px;
  }
  /* line 773, ../sass/common.sass */
  .radioSelectContainer label.active label, .radioSelectContainer .labelContainer.active label, .radioContainer label.active label, .radioContainer .labelContainer.active label {
    display: block;
    width: 48%;
    float: left;
    margin: 3px 1%;
  }
}
@media (max-width: 480px) {
  /* line 782, ../sass/common.sass */
  .container > div {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* line 785, ../sass/common.sass */
  .header-form {
    z-index: 999;
    position: absolute;
    background: black;
    padding: 10px;
    margin-top: 60px;
    top: 0;
    border-radius: 5px;
    width: 100%;
    left: 0;
  }

  /* line 795, ../sass/common.sass */
  h1 {
    font-size: 28px;
  }

  /* line 797, ../sass/common.sass */
  .form-banner, .header-form {
    padding-bottom: 30px;
  }
  /* line 799, ../sass/common.sass */
  .form-banner input[type="text"], .header-form input[type="text"] {
    width: 90%;
  }
  /* line 801, ../sass/common.sass */
  .form-banner .btn-join, .header-form .btn-join {
    display: block;
    position: relative;
    margin: 0;
    width: 90%;
    height: 34px;
    margin: auto;
    padding-top: 15px;
  }
  /* line 809, ../sass/common.sass */
  .form-banner .btn-join input[type="text"], .header-form .btn-join input[type="text"] {
    width: 80%;
    float: left;
    margin: 0;
  }
  /* line 813, ../sass/common.sass */
  .form-banner .btn-join .btn-sm, .header-form .btn-join .btn-sm {
    float: right;
    width: 20%;
    top: 0;
  }

  /* line 817, ../sass/common.sass */
  .job-summary {
    margin-top: 15px;
  }

  /* line 819, ../sass/common.sass */
  .form-container {
    margin-bottom: 80px;
    padding: 10px;
    margin-left: -15px;
    margin-right: -15px;
  }

  /* line 824, ../sass/common.sass */
  .map-tabs {
    clear: both;
    display: block;
    padding: 0;
    margin-top: 60px;
    margin-bottom: -10px;
    list-style: none;
    width: 100%;
    text-align: center;
  }
  /* line 833, ../sass/common.sass */
  .map-tabs .material-icons {
    font-size: 16px;
    position: relative;
    top: 3px;
  }
  /* line 837, ../sass/common.sass */
  .map-tabs li {
    display: inline;
    background: #333333;
    padding: 10px 15px;
    border-radius: 5px 5px 0 0;
  }
  /* line 842, ../sass/common.sass */
  .map-tabs li a {
    text-transform: uppercase;
    color: #999999;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
  }
  /* line 848, ../sass/common.sass */
  .map-tabs li.active {
    background: #2faadf;
  }
  /* line 850, ../sass/common.sass */
  .map-tabs li.active a {
    color: white;
  }

  /* line 852, ../sass/common.sass */
  .job-list {
    max-height: 699px;
  }

  /* line 854, ../sass/common.sass */
  .job-map {
    display: none;
  }

  /* line 858, ../sass/common.sass */
  .job-result .job-logo img {
    width: 40px;
    height: 40px;
  }
  /* line 861, ../sass/common.sass */
  .job-result .job-text {
    padding-left: 50px;
  }

  /* line 865, ../sass/common.sass */
  .ll .form-header h1 {
    font-size: 13px;
    color: white;
    text-shadow: 0 2px 0 #166d92;
  }
  /* line 869, ../sass/common.sass */
  .ll .form-header h2 {
    font-size: 36px;
    color: white;
    text-shadow: 0 2px 0 #166d92;
  }
  /* line 873, ../sass/common.sass */
  .ll .form-header h4 {
    color: #2faadf;
  }
  /* line 875, ../sass/common.sass */
  .ll .form-header p {
    font-size: 14px;
  }
  /* line 878, ../sass/common.sass */
  .ll .form-header.big-header h1, .ll .form-header.big-header p {
    font-size: 14px;
  }
  /* line 880, ../sass/common.sass */
  .ll .form-header.big-header h2 {
    font-size: 48px;
  }
  /* line 882, ../sass/common.sass */
  .ll input.form-control, .ll select.form-control {
    display: block;
    text-align: center;
    width: 90% !important;
    margin: 0 auto 15px;
  }
  /* line 887, ../sass/common.sass */
  .ll .btn {
    width: 90%;
  }

  /* line 890, ../sass/common.sass */
  .progress-container {
    width: 90%;
    margin: auto;
  }

  /* line 894, ../sass/common.sass */
  .form-container .ll .form-group > .control-label {
    color: white;
  }
  /* line 896, ../sass/common.sass */
  .form-container .ll .form-group.formio-component-checkbox > .control-label {
    color: white;
  }
  /* line 898, ../sass/common.sass */
  .form-container .ll .input-group {
    width: 90%;
    margin: auto;
    text-align: center;
  }
  /* line 902, ../sass/common.sass */
  .form-container .ll div.radio {
    display: block;
    width: 100%;
    margin: 15px 0;
  }
  /* line 906, ../sass/common.sass */
  .form-container .ll div.radio span {
    display: inline-block;
    width: 80%;
    height: 47px;
  }

  /* line 910, ../sass/common.sass */
  .body {
    padding-bottom: 10px;
  }
  /* line 912, ../sass/common.sass */
  .body h2 {
    margin-top: 30px;
  }

  /* line 914, ../sass/common.sass */
  .card {
    margin-bottom: 20px;
  }

  /* line 916, ../sass/common.sass */
  .lead {
    width: 100%;
  }

  /* line 918, ../sass/common.sass */
  .footer {
    padding: 20px 0;
  }
  /* line 920, ../sass/common.sass */
  .footer p {
    color: #666;
    font-size: 11px;
    line-height: 14px;
  }

  /* line 925, ../sass/common.sass */
  #thanks-page .form-banner {
    background-size: 460px;
    border-bottom: none;
    margin-bottom: 0px;
  }
  /* line 929, ../sass/common.sass */
  #thanks-page .form-container {
    padding-top: 20px;
    margin-bottom: 220px;
  }
  /* line 932, ../sass/common.sass */
  #thanks-page .social-share {
    padding-top: 20px;
  }
  /* line 934, ../sass/common.sass */
  #thanks-page .social-share .hashtag {
    display: none;
  }
  /* line 937, ../sass/common.sass */
  #thanks-page .form-header h1, #thanks-page .form-header h2 {
    text-shadow: none;
  }
  /* line 939, ../sass/common.sass */
  #thanks-page .footer {
    background: white;
  }

  /* line 941, ../sass/common.sass */
  body#privacy {
    background: white;
  }
  /* line 943, ../sass/common.sass */
  body#privacy .body {
    display: block;
  }
  /* line 945, ../sass/common.sass */
  body#privacy h1 {
    font-size: 32px;
  }
  /* line 947, ../sass/common.sass */
  body#privacy h2 {
    font-size: 21px;
  }
  /* line 949, ../sass/common.sass */
  body#privacy .footer {
    background: none;
  }
}
