@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
/* line 15, ../sass/form.sass */
.ll {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  padding: 10px;
}
/* line 19, ../sass/form.sass */
.ll .pagination, .ll .alert-danger, .ll .alert-success, .ll .list-inline {
  display: none;
}
/* line 22, ../sass/form.sass */
.ll .form-header {
  text-align: center;
}
/* line 25, ../sass/form.sass */
.ll .progress {
  height: 8px !important;
  margin-bottom: 20px;
}
/* line 28, ../sass/form.sass */
.ll .progress .progress-bar {
  background: #2faadf;
}
/* line 31, ../sass/form.sass */
.ll .form-control {
  font-size: 16px !important;
}
/* line 34, ../sass/form.sass */
.ll .has-feedback .form-control {
  padding-right: 16px !important;
}
/* line 38, ../sass/form.sass */
.ll .btn, .ll .btn-primary {
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  font-size: 16px !important;
  padding: 12px 30px !important;
  background: #2faadf !important;
  border: none !important;
  border-radius: 5px;
  white-space: normal;
  cursor: pointer;
  text-shadow: rgba(255, 255, 255, 0.2) 0 1px 0;
}
/* line 51, ../sass/form.sass */
.ll .btn:hover, .ll .btn-primary:hover {
  color: white;
  background: #1d8dbe !important;
  text-shadow: rgba(255, 255, 255, 0.6) 0 1px 0;
  top: 1px;
  position: relative;
}
/* line 58, ../sass/form.sass */
.ll .btn-primary {
  display: block;
  margin: auto;
}
/* line 62, ../sass/form.sass */
.ll .form-div {
  text-align: center;
  margin-bottom: 60px;
}
/* line 65, ../sass/form.sass */
.ll .form-div input[type="text"], .ll .form-div input[type="email"] {
  height: 47px;
  text-align: center;
}
/* line 70, ../sass/form.sass */
.ll .form-div {
  width: 100%;
}
/* line 72, ../sass/form.sass */
.ll .form-div .control-label {
  display: none;
}
/* line 74, ../sass/form.sass */
.ll .form-div .form-control {
  width: 60%;
}
/* line 77, ../sass/form.sass */
.ll .form-div .formio-component-checkbox .control-label, .ll .form-div .formio-component-phone-cell-consent .control-label {
  display: block;
}
/* line 80, ../sass/form.sass */
.ll .checkbox input[type="checkbox"] {
  left: 40px;
}
/* line 83, ../sass/form.sass */
.ll .control-label div {
  text-align: left;
  font-weight: lighter;
  font-size: 12px;
  text-indent: 20px;
}

@media (min-width: 1200px) {
  /* line 95, ../sass/form.sass */
  .ll .form-header h1, .ll .form-header p {
    font-size: 21px;
  }
  /* line 97, ../sass/form.sass */
  .ll .form-header h2 {
    font-size: 56px;
  }
}
@media (min-width: 481px) {
  /* line 103, ../sass/form.sass */
  .ll .form-div input, .ll .form-div select, .ll .form-div .btn {
    display: block;
    width: 60%;
    margin: 0 auto 15px;
  }
}
@media (max-width: 480px) {
  /* line 112, ../sass/form.sass */
  .ll .form-header h1 {
    font-size: 24px;
  }
  /* line 114, ../sass/form.sass */
  .ll input.form-control, .ll select.form-control {
    display: block;
    text-align: center;
    width: 90% !important;
    margin: 0 auto 15px;
  }
  /* line 119, ../sass/form.sass */
  .ll .btn {
    width: 90%;
  }

  /* line 121, ../sass/form.sass */
  .progress-container {
    display: block;
    width: 100%;
    margin: auto;
  }
}
