/* line 17, ../sass/form.sass */
.uppercase, .ll .form-header h1, .ll .form-header h2, .ll .form-header p {
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* line 22, ../sass/form.sass */
body {
  font-family: Lato, Arial, sans-serif;
  background: white;
  color: #444;
  font-size: 14px;
  font-weight: lighter;
}

/* line 29, ../sass/form.sass */
p, ul, li {
  color: #666;
  line-height: 1.75em;
}

/* line 33, ../sass/form.sass */
blockquote {
  font-style: italic;
  color: #8f8f8f;
}

/* line 37, ../sass/form.sass */
img {
  max-width: 100%;
}

/* line 40, ../sass/form.sass */
li {
  line-height: 1.75em;
}

/* line 43, ../sass/form.sass */
a {
  color: #2faadf;
  cursor: pointer;
}
/* line 46, ../sass/form.sass */
a:hover {
  color: #1d8dbe;
  text-decoration: none;
}

/* line 50, ../sass/form.sass */
h1 {
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 10px;
}

/* line 55, ../sass/form.sass */
h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}

/* line 60, ../sass/form.sass */
h3 {
  font-weight: 600;
  font-size: 21px;
  margin-bottom: 10px;
}

/* line 65, ../sass/form.sass */
h4 {
  font-weight: normal;
  font-size: 16px;
}

/* line 69, ../sass/form.sass */
select, input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px 10px;
  box-sizing: border-box;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 16px;
}

/* line 77, ../sass/form.sass */
.left {
  float: left;
}

/* line 80, ../sass/form.sass */
.container {
  width: 100%;
  max-width: 100%;
  padding: 0 15px;
}

/* line 85, ../sass/form.sass */
.container > div {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 90, ../sass/form.sass */
.content > div {
  margin-bottom: 40px;
  clear: both;
}
/* line 93, ../sass/form.sass */
.content > div:after {
  content: "";
  clear: both;
  display: block;
}

/* line 98, ../sass/form.sass */
select:-moz-focusring {
  outline: none;
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/* line 103, ../sass/form.sass */
.disclaimer {
  font-size: 13px;
  font-style: italic;
}

/* line 109, ../sass/form.sass */
.header {
  background: white;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  overflow: hidden;
}
/* line 116, ../sass/form.sass */
.header .header-brand a {
  background-image: url("../images/searchmynewjob-logo.png");
  background-repeat: no-repeat;
  display: block;
  float: left;
  margin: auto;
  width: 235px;
  height: 33px;
  text-indent: -999px;
  margin-right: 10px;
  background-size: 235px;
}
/* line 127, ../sass/form.sass */
.header .search-icon {
  float: right;
}
/* line 129, ../sass/form.sass */
.header .search-icon .material-icons {
  font-size: 30px;
}
/* line 131, ../sass/form.sass */
.header p {
  color: #2faadf;
}
/* line 133, ../sass/form.sass */
.header a {
  color: white;
}
/* line 135, ../sass/form.sass */
.header a:hover {
  color: white;
}
/* line 137, ../sass/form.sass */
.header .rules {
  padding-top: 20px;
}
/* line 139, ../sass/form.sass */
.header #mark {
  max-width: 500px;
  float: left;
  overflow: hidden;
  padding-top: 20px;
}
/* line 144, ../sass/form.sass */
.header #mark marquee {
  float: left;
  width: 300px;
}
/* line 147, ../sass/form.sass */
.header #mark li {
  color: white;
  list-style: none;
  margin-right: 10px;
  display: inline;
}
/* line 152, ../sass/form.sass */
.header #mark li b {
  color: #2faadf;
}
/* line 154, ../sass/form.sass */
.header #mark .recent {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #2faadf;
  font-weight: 600;
  display: inline;
  float: left;
  margin-right: 10px;
}

/* line 163, ../sass/form.sass */
.footer {
  clear: both;
  overflow: auto;
  padding: 30px 60px;
  text-align: center;
}
/* line 168, ../sass/form.sass */
.footer .footer-logo {
  width: 235px;
}
/* line 170, ../sass/form.sass */
.footer p {
  color: #999;
  text-align: center;
}

/* line 175, ../sass/form.sass */
.formio-component-fieldset.form-div {
  position: relative;
  padding-top: 50px;
}

/* line 191, ../sass/form.sass */
.ll .panel.panel-default {
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
  padding: 0;
}
/* line 197, ../sass/form.sass */
.ll .panel.panel-default .panel-body {
  padding: 0;
}
/* line 199, ../sass/form.sass */
.ll .well.formio-component {
  background: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: none;
}
/* line 206, ../sass/form.sass */
.ll .form-header {
  text-align: center;
}
/* line 208, ../sass/form.sass */
.ll .form-header h1, .ll .form-header h2, .ll .form-header p {
  color: #2faadf;
  margin: 5px 0;
}
/* line 212, ../sass/form.sass */
.ll .form-header h1 {
  font-size: 14px;
}
/* line 214, ../sass/form.sass */
.ll .form-header h2 {
  font-size: 38px;
  font-weight: 800;
}
/* line 217, ../sass/form.sass */
.ll .form-header h4 {
  font-weight: lighter;
}
/* line 219, ../sass/form.sass */
.ll .form-header p {
  font-size: 21px;
  font-weight: 600;
}
/* line 224, ../sass/form.sass */
.ll .form-header.big-header h1 {
  font-size: 21px;
}
/* line 226, ../sass/form.sass */
.ll .form-header.big-header h2 {
  font-size: 72px;
}
/* line 230, ../sass/form.sass */
.ll .arrow {
  display: block;
  position: absolute !important;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #2faadf;
  top: 15px;
  left: 50%;
  margin-left: -15px;
  z-index: 2;
  animation: float 1.5s ease-in-out infinite;
}
/* line 241, ../sass/form.sass */
.ll .animated {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
/* line 251, ../sass/form.sass */
.ll .bounce {
  animation-name: bounce;
}
/* line 255, ../sass/form.sass */
.ll .btn, .ll .btn-primary.btn-gold, .ll div.radio span {
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  padding: 12px 30px;
  background: #2faadf;
  border-radius: 5px;
  white-space: normal;
  cursor: pointer;
  text-shadow: rgba(255, 255, 255, 0.2) 0 1px 0;
}
/* line 267, ../sass/form.sass */
.ll .btn:hover, .ll .btn-primary.btn-gold:hover, .ll div.radio span:hover {
  border: 1px solid #166d92;
  color: white;
  background: #1d8dbe;
  text-shadow: rgba(255, 255, 255, 0.6) 0 1px 0;
  top: 1px;
  position: relative;
}
/* line 274, ../sass/form.sass */
.ll .btn-primary.btn-gold {
  display: block;
  margin: auto;
}
/* line 277, ../sass/form.sass */
.ll .btn-sm {
  padding: 4px 8px;
  font-size: 16px;
  position: relative;
  top: -1px;
}
/* line 283, ../sass/form.sass */
.ll .btn-join .btn {
  left: -5px;
  border-radius: 0 5px 5px 0;
}
/* line 286, ../sass/form.sass */
.ll .btn-join .btn:hover {
  top: -1px;
}
/* line 288, ../sass/form.sass */
.ll .form-div {
  text-align: center;
  margin-bottom: 60px;
}
/* line 291, ../sass/form.sass */
.ll .form-div input[type="text"], .ll .form-div input[type="email"] {
  height: 47px;
  text-align: center;
}
/* line 294, ../sass/form.sass */
.ll .form-note {
  color: #999;
  font-style: italic;
  font-size: 12px;
  margin-top: 10px;
}
/* line 301, ../sass/form.sass */
.ll .form-div .form-control {
  width: 60%;
}
/* line 304, ../sass/form.sass */
.ll .checkbox input[type="checkbox"] {
  left: 40px;
}
/* line 307, ../sass/form.sass */
.ll .control-label div {
  text-align: left;
  font-weight: lighter;
  font-size: 12px;
  text-indent: 20px;
}
/* line 313, ../sass/form.sass */
.ll .formio-component-email {
  display: inline;
}
/* line 315, ../sass/form.sass */
.ll .formio-component-email .form-control {
  height: 47px;
}
/* line 317, ../sass/form.sass */
.ll .list-inline {
  display: none;
}

/* line 321, ../sass/form.sass */
.job-map .job-logo {
  width: 40px;
  height: 40px;
  margin-top: 6px;
}
/* line 325, ../sass/form.sass */
.job-map .job-result {
  width: 300px;
  display: block;
}
/* line 328, ../sass/form.sass */
.job-map .job-result .job-text {
  width: 170px;
  float: left;
  padding-left: 10px;
  min-height: auto;
}
/* line 333, ../sass/form.sass */
.job-map .btn-sm {
  margin-top: 10px;
}

/* line 339, ../sass/form.sass */
.form-container .ll .progress {
  height: 8px;
  margin-bottom: 20px;
}
/* line 342, ../sass/form.sass */
.form-container .ll .progress .progress-bar {
  background: #2faadf;
}
/* line 344, ../sass/form.sass */
.form-container .ll .form-group > .control-label {
  color: #2faadf;
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  display: block;
}
/* line 351, ../sass/form.sass */
.form-container .ll .form-group.formio-component-checkbox > .control-label {
  color: #666;
  font-weight: lighter;
}
/* line 354, ../sass/form.sass */
.form-container .ll .input-group {
  width: 90%;
  margin: auto;
  text-align: center;
}
/* line 358, ../sass/form.sass */
.form-container .ll div.radio {
  display: inline-block;
  position: relative;
  margin: 10px 2.5%;
  text-align: center;
  min-height: 47px;
  width: 40%;
  min-width: 224px;
}
/* line 366, ../sass/form.sass */
.form-container .ll div.radio label, .form-container .ll div.radio input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 47px;
}
/* line 372, ../sass/form.sass */
.form-container .ll div.radio span {
  display: inline-block;
  width: 100%;
  margin: 0;
}
/* line 376, ../sass/form.sass */
.form-container .ll div.radio input[type="radio"] {
  opacity: 0.01;
  z-index: 100;
}

/* line 381, ../sass/form.sass */
.header-form {
  float: right;
  margin-top: -10px;
}

/* line 384, ../sass/form.sass */
.form-banner {
  padding: 20px 60px;
  text-align: center;
}

/* line 388, ../sass/form.sass */
.form-banner {
  background: white url(../images/form-hero.jpg) no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  min-height: 400px;
}
/* line 396, ../sass/form.sass */
.form-banner h1 {
  color: white;
  font-weight: normal;
  text-align: left;
  margin: 0;
}
/* line 401, ../sass/form.sass */
.form-banner input[type="text"] {
  border: 1px solid #bbb;
  margin-top: 10px;
}

/* line 405, ../sass/form.sass */
.form-container {
  background: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
/* line 409, ../sass/form.sass */
.form-container .form-header {
  text-align: center;
  background: #2faadf;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}
/* line 414, ../sass/form.sass */
.form-container .form-header h2 {
  color: white;
  font-weight: normal;
  font-size: 18px;
  margin: 0;
}
/* line 419, ../sass/form.sass */
.form-container .form-body {
  padding: 30px 40px;
}

/* line 423, ../sass/form.sass */
.job-summary {
  text-align: center;
}
/* line 425, ../sass/form.sass */
.job-summary img {
  width: 12px;
  position: relative;
  top: -2px;
  margin-right: 5px;
}
/* line 430, ../sass/form.sass */
.job-summary .location {
  color: #999;
}

/* line 434, ../sass/form.sass */
.lead {
  color: #2faadf;
  text-align: center;
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
}

/* line 443, ../sass/form.sass */
#thanks-page .header {
  background: #bac0ce;
}
/* line 446, ../sass/form.sass */
#thanks-page .form-header.big-header h1 {
  color: black;
}
/* line 448, ../sass/form.sass */
#thanks-page .form-header.big-header h2 {
  color: white;
}
/* line 450, ../sass/form.sass */
#thanks-page .form-container {
  background: none;
  padding-top: 50px;
}
/* line 453, ../sass/form.sass */
#thanks-page .social-share {
  text-align: center;
  padding: 40px 0 0;
}
/* line 456, ../sass/form.sass */
#thanks-page .social-share a:hover {
  position: relative;
  top: 1px;
}
/* line 459, ../sass/form.sass */
#thanks-page .social-share img {
  margin: 0 10px 0;
}
/* line 461, ../sass/form.sass */
#thanks-page .social-share p {
  color: white;
  margin-top: 15px;
  font-size: 18px;
}

/* line 469, ../sass/form.sass */
#privacy .header {
  margin-bottom: 20px;
}
/* line 471, ../sass/form.sass */
#privacy .body {
  background: white;
}
/* line 473, ../sass/form.sass */
#privacy h1 {
  font-size: 48px;
  color: #2faadf;
  text-shadow: none;
}
/* line 477, ../sass/form.sass */
#privacy h2 {
  color: #2faadf;
  font-weight: bold;
  border-bottom: 3px solid #2faadf;
  padding-bottom: 10px;
  margin: 30px 0;
  text-align: left;
}

@media (min-width: 1200px) {
  /* line 490, ../sass/form.sass */
  .ll .form-header h1, .ll .form-header p {
    font-size: 21px;
  }
  /* line 492, ../sass/form.sass */
  .ll .form-header h2 {
    font-size: 56px;
  }
}
@media (max-width: 1200px) {
  /* line 496, ../sass/form.sass */
  .container {
    max-width: 100%;
  }

  /* line 500, ../sass/form.sass */
  .ll .form-header h1, .ll .form-header p {
    font-size: 18px;
  }
  /* line 502, ../sass/form.sass */
  .ll .form-header h2 {
    font-size: 48px;
  }
  /* line 505, ../sass/form.sass */
  .ll .form-header.big-header h1, .ll .form-header.big-header p {
    font-size: 18px;
  }
  /* line 507, ../sass/form.sass */
  .ll .form-header.big-header h2 {
    font-size: 48px;
  }
}
@media (min-width: 992px) {
  /* line 513, ../sass/form.sass */
  .body {
    padding: 30px;
  }

  /* line 515, ../sass/form.sass */
  .container > div {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 991px) {
  /* line 522, ../sass/form.sass */
  .header #mark {
    display: none;
  }

  /* line 524, ../sass/form.sass */
  .progress-container {
    text-align: center;
    padding-bottom: 10px;
  }
  /* line 527, ../sass/form.sass */
  .progress-container .progress-label {
    color: #2faadf;
  }
  /* line 529, ../sass/form.sass */
  .progress-container .progress {
    border: 1px solid #ddd;
  }
}
@media (min-width: 481px) {
  /* line 533, ../sass/form.sass */
  .form {
    padding: 40px;
  }

  /* line 536, ../sass/form.sass */
  .radioSelectContainer > label {
    display: none;
  }

  /* line 538, ../sass/form.sass */
  .extendedRadioContainer {
    display: none;
  }

  /* line 541, ../sass/form.sass */
  .radioContainer label {
    margin-right: 10px;
    font-size: 16px;
  }
  /* line 544, ../sass/form.sass */
  .radioContainer label:last-child {
    margin-right: 0;
  }
  /* line 546, ../sass/form.sass */
  .radioContainer input {
    margin-right: 3px;
  }

  /* line 550, ../sass/form.sass */
  .ll .form-div input, .ll .form-div select, .ll .form-div .btn {
    display: block;
    width: 60%;
    margin: 0 auto 15px;
  }
  /* line 555, ../sass/form.sass */
  .ll .form-div.joined-button input, .ll .form-div.joined-button .btn {
    display: inline;
    margin: 0;
  }
  /* line 558, ../sass/form.sass */
  .ll .form-div.joined-button input {
    width: 50% !important;
    border-radius: 5px 0 0 5px;
  }
  /* line 561, ../sass/form.sass */
  .ll .form-div.joined-button .btn {
    width: auto;
    border-radius: 0 5px 5px 0;
    position: relative;
    left: -5px;
    top: -2px;
  }
}
@media (max-width: 699px) {
  /* line 571, ../sass/form.sass */
  .form-banner {
    background: white url(../images/form-hero.jpg) no-repeat;
    background-size: cover;
    display: inline-block;
    padding: 0;
  }
  /* line 576, ../sass/form.sass */
  .form-banner h1 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  /* line 581, ../sass/form.sass */
  .radioSelectContainer, .radioContainer {
    position: relative;
    overflow: hidden;
  }
  /* line 585, ../sass/form.sass */
  .radioSelectContainer select, .radioContainer select {
    display: none;
  }
  /* line 587, ../sass/form.sass */
  .radioSelectContainer label, .radioSelectContainer .labelContainer, .radioContainer label, .radioContainer .labelContainer {
    display: block;
    margin: 10px 0;
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f2f2f2));
    background: -moz-linear-gradient(top, #fcfcfc, #f2f2f2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f2f2f2');
    border-radius: 4px;
    border: 2px solid #e6e6e6;
    padding: 10px;
    cursor: pointer;
  }
  /* line 598, ../sass/form.sass */
  .radioSelectContainer label:hover, .radioSelectContainer .labelContainer:hover, .radioContainer label:hover, .radioContainer .labelContainer:hover {
    background: #dbdbdb;
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#dbdbdb));
    background: -moz-linear-gradient(top, #fcfcfc, #dbdbdb);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#dbdbdb');
  }
  /* line 604, ../sass/form.sass */
  .radioSelectContainer label > span, .radioSelectContainer .labelContainer > span, .radioContainer label > span, .radioContainer .labelContainer > span {
    text-align: left;
    display: block;
    font-size: 16px;
    color: #444;
    background: url("../images/right-arrow-gray.png") no-repeat right center;
    background-size: 8px 13px;
  }
  /* line 611, ../sass/form.sass */
  .radioSelectContainer label > input, .radioSelectContainer .labelContainer > input, .radioContainer label > input, .radioContainer .labelContainer > input {
    position: absolute;
    top: -20px;
  }
  /* line 614, ../sass/form.sass */
  .radioSelectContainer label > input:checked + span, .radioSelectContainer .labelContainer > input:checked + span, .radioContainer label > input:checked + span, .radioContainer .labelContainer > input:checked + span {
    background-color: #404040;
    color: #F7F7F7;
  }
  /* line 617, ../sass/form.sass */
  .radioSelectContainer label label, .radioSelectContainer .labelContainer label, .radioContainer label label, .radioContainer .labelContainer label {
    display: none;
  }
  /* line 619, ../sass/form.sass */
  .radioSelectContainer label.active, .radioSelectContainer .labelContainer.active, .radioContainer label.active, .radioContainer .labelContainer.active {
    background: #777;
    border: 2px solid #777;
    overflow: auto;
  }
  /* line 624, ../sass/form.sass */
  .radioSelectContainer label.active > span, .radioSelectContainer .labelContainer.active > span, .radioContainer label.active > span, .radioContainer .labelContainer.active > span {
    color: white;
    margin-bottom: 10px;
    background: url("../images/down-arrow-gray.png") no-repeat right center;
    background-size: 13px 8px;
  }
  /* line 629, ../sass/form.sass */
  .radioSelectContainer label.active label, .radioSelectContainer .labelContainer.active label, .radioContainer label.active label, .radioContainer .labelContainer.active label {
    display: block;
    width: 48%;
    float: left;
    margin: 3px 1%;
  }
}
@media (max-width: 480px) {
  /* line 638, ../sass/form.sass */
  .container > div {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* line 641, ../sass/form.sass */
  .header-form {
    z-index: 999;
    position: absolute;
    background: black;
    padding: 10px;
    margin-top: 60px;
    top: 0;
    border-radius: 5px;
    width: 100%;
    left: 0;
  }

  /* line 651, ../sass/form.sass */
  h1 {
    font-size: 28px;
  }

  /* line 653, ../sass/form.sass */
  .form-banner, .header-form {
    padding-bottom: 30px;
  }
  /* line 655, ../sass/form.sass */
  .form-banner input[type="text"], .header-form input[type="text"] {
    width: 90%;
  }
  /* line 657, ../sass/form.sass */
  .form-banner .btn-join, .header-form .btn-join {
    display: block;
    position: relative;
    margin: 0;
    width: 90%;
    height: 34px;
    margin: auto;
    padding-top: 15px;
  }
  /* line 665, ../sass/form.sass */
  .form-banner .btn-join input[type="text"], .header-form .btn-join input[type="text"] {
    width: 80%;
    float: left;
    margin: 0;
  }
  /* line 669, ../sass/form.sass */
  .form-banner .btn-join .btn-sm, .header-form .btn-join .btn-sm {
    float: right;
    width: 20%;
    top: 0;
  }

  /* line 673, ../sass/form.sass */
  .job-summary {
    margin-top: 15px;
  }

  /* line 675, ../sass/form.sass */
  .form-container {
    margin-bottom: 80px;
    padding: 10px;
    margin-left: -15px;
    margin-right: -15px;
  }

  /* line 680, ../sass/form.sass */
  .map-tabs {
    clear: both;
    display: block;
    padding: 0;
    margin-top: 60px;
    margin-bottom: -10px;
    list-style: none;
    width: 100%;
    text-align: center;
  }
  /* line 689, ../sass/form.sass */
  .map-tabs .material-icons {
    font-size: 16px;
    position: relative;
    top: 3px;
  }
  /* line 693, ../sass/form.sass */
  .map-tabs li {
    display: inline;
    background: #333333;
    padding: 10px 15px;
    border-radius: 5px 5px 0 0;
  }
  /* line 698, ../sass/form.sass */
  .map-tabs li a {
    text-transform: uppercase;
    color: #999999;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
  }
  /* line 704, ../sass/form.sass */
  .map-tabs li.active {
    background: #2faadf;
  }
  /* line 706, ../sass/form.sass */
  .map-tabs li.active a {
    color: white;
  }

  /* line 708, ../sass/form.sass */
  .job-list {
    max-height: 699px;
  }

  /* line 710, ../sass/form.sass */
  .job-map {
    display: none;
  }

  /* line 714, ../sass/form.sass */
  .job-result .job-logo img {
    width: 40px;
    height: 40px;
  }
  /* line 717, ../sass/form.sass */
  .job-result .job-text {
    padding-left: 50px;
  }

  /* line 721, ../sass/form.sass */
  .ll .form-header h1 {
    font-size: 13px;
    color: white;
    text-shadow: 0 2px 0 #166d92;
  }
  /* line 725, ../sass/form.sass */
  .ll .form-header h2 {
    font-size: 36px;
    color: white;
    text-shadow: 0 2px 0 #166d92;
  }
  /* line 729, ../sass/form.sass */
  .ll .form-header h4 {
    color: #2faadf;
  }
  /* line 731, ../sass/form.sass */
  .ll .form-header p {
    font-size: 14px;
  }
  /* line 734, ../sass/form.sass */
  .ll .form-header.big-header h1, .ll .form-header.big-header p {
    font-size: 14px;
  }
  /* line 736, ../sass/form.sass */
  .ll .form-header.big-header h2 {
    font-size: 48px;
  }
  /* line 738, ../sass/form.sass */
  .ll input.form-control, .ll select.form-control {
    display: block;
    text-align: center;
    width: 90% !important;
    margin: 0 auto 15px;
  }
  /* line 743, ../sass/form.sass */
  .ll .btn {
    width: 90%;
  }

  /* line 746, ../sass/form.sass */
  .progress-container {
    width: 90%;
    margin: auto;
  }

  /* line 750, ../sass/form.sass */
  .form-container .ll .form-group > .control-label {
    color: white;
  }
  /* line 752, ../sass/form.sass */
  .form-container .ll .form-group.formio-component-checkbox > .control-label {
    color: white;
  }
  /* line 754, ../sass/form.sass */
  .form-container .ll .input-group {
    width: 90%;
    margin: auto;
    text-align: center;
  }
  /* line 758, ../sass/form.sass */
  .form-container .ll div.radio {
    display: block;
    width: 100%;
    margin: 15px 0;
  }
  /* line 762, ../sass/form.sass */
  .form-container .ll div.radio span {
    display: inline-block;
    width: 80%;
    height: 47px;
  }

  /* line 766, ../sass/form.sass */
  .body {
    padding-bottom: 10px;
  }
  /* line 768, ../sass/form.sass */
  .body h2 {
    margin-top: 30px;
  }

  /* line 770, ../sass/form.sass */
  .card {
    margin-bottom: 20px;
  }

  /* line 772, ../sass/form.sass */
  .lead {
    width: 100%;
  }

  /* line 774, ../sass/form.sass */
  .footer {
    padding: 20px 0;
  }
  /* line 776, ../sass/form.sass */
  .footer p {
    color: #666;
    font-size: 11px;
    line-height: 14px;
  }

  /* line 781, ../sass/form.sass */
  #thanks-page .form-banner {
    background-size: 460px;
    border-bottom: none;
    margin-bottom: 0px;
  }
  /* line 785, ../sass/form.sass */
  #thanks-page .form-container {
    padding-top: 20px;
    margin-bottom: 220px;
  }
  /* line 788, ../sass/form.sass */
  #thanks-page .social-share {
    padding-top: 20px;
  }
  /* line 790, ../sass/form.sass */
  #thanks-page .social-share .hashtag {
    display: none;
  }
  /* line 793, ../sass/form.sass */
  #thanks-page .form-header h1, #thanks-page .form-header h2 {
    text-shadow: none;
  }
  /* line 795, ../sass/form.sass */
  #thanks-page .footer {
    background: white;
  }

  /* line 797, ../sass/form.sass */
  body#privacy {
    background: white;
  }
  /* line 799, ../sass/form.sass */
  body#privacy .body {
    display: block;
  }
  /* line 801, ../sass/form.sass */
  body#privacy h1 {
    font-size: 32px;
  }
  /* line 803, ../sass/form.sass */
  body#privacy h2 {
    font-size: 21px;
  }
  /* line 805, ../sass/form.sass */
  body#privacy .footer {
    background: none;
  }
}
